/*================================================================*/
/*  TABLE OF CONTENTS
    - COMMON STYLE
    - HEADER 
    - NAVIGATION BAR
    - POSTS
    - ABOUT
    - CLASSES
    - FOOTER 
/*
/*================================================================*/

/*-----------------------------------*/
/*         COMMON STYLE             */
/*---------------------------------*/

/* The border-box value (as opposed to the content-box default) makes the final rendered box the declared width, and any border and padding cut inside the box.  Read more here: http://www.paulirish.com/2012/box-sizing-border-box-ftw/; */
* {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
    background-color: #EBE8E4;
    color: #222;
    font-weight: 300;
    font-size: 15px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header, footer,section,nav {
    display:blocks;
}

.container {
    background-color: white;

    /* Specifying auto as the second parameter tells the browser to automatically determine the left and right margins itself, which it does by setting them equally. 'auto' guarantees that the left and right margins will be set to the same size. The first parameter 0 indicates that the top and bottom margins will both be set to 0. */
    margin:0 auto;

    /* read up on how to choose max/min-width here: http://stackoverflow.com/questions/10026751/recommended-widths-for-responsive-layouts */;
    max-width: 750px;
    min-width: 480px;
    font-family:sans-serif;
    margin-top:20px;
}

section, .container {
    padding: 5px 30px;
}

/* show a hand cursor when hovering over */ 
a { 
    cursor: pointer; 
    cursor: hand; 
}

/*-----------------------------------*/
/*            HEADER                */
/*---------------------------------*/

header {
    text-align: center;
    background-image:url('../img/splashes.jpeg');
    color: black;
}

header > h1 {
    margin: 0;
}

header > h1 > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/*-----------------------------------*/
/*         NAVIGATION BAR           */
/*---------------------------------*/
#navbar {
    background-color: rgb(47, 47, 105);
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #888;
    display: block;
    margin-top: 0;
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

nav > ul > li > a > .caret {
    border-top: 4px solid #aaa;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content:"";
    display: inline-block;
    height: 0;
    width: 0;
    vertical-align: middle;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    transition: color 0.1s linear;
}

nav > ul > li > a {
    color: white;
    font-weight: bold;
    display: block;
    line-height: 56px;
    padding: 0 24px;
    text-decoration: none;
}

nav > ul > li:hover {
    background-color: rgb(40, 44, 47);
}

nav > ul > li:hover > a {
    color: rgb(255, 255, 255);
}

nav > ul > li:hover > a > .caret {
    border-top-color: rgb(255, 255, 255);
}

nav > ul > li > div {
    background-color: rgb(40, 44, 47);
    border-top: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    display: none;
    margin: 0;
    opacity: 0;
    position: absolute;
    width: 165px;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}

nav > ul > li:hover > div {
    display: block;
    opacity: 1;
    visibility: visible;
}

nav > ul > li > div ul > li {
    display: block;
}

nav > ul > li > div ul > li > a {
    color: #fff;
    font-weight: bold;
    display: block;
    padding: 12px 24px;
    text-decoration: none;
}

nav > ul > li > div ul > li:hover > a {
    background-color: rgba(255, 255, 255, 0.1);
}

/*-----------------------------------*/
/*             POSTS                */
/*---------------------------------*/

#jquery-msg{
    display: none;
}

article > h2{
    padding-left: 1em;
    background-color: #EBE8E4;
}

/*-----------------------------------*/
/*             ABOUT                */
/*---------------------------------*/

section, .classes {
    display: none;
}

/*-----------------------------------*/
/*             CLASSES              */
/*---------------------------------*/

section, .about {
    display: none;
}

/*-----------------------------------*/
/*              FOOTER              */
/*---------------------------------*/

#footer{
    margin-top: 0;   
    border-top: 1px dotted #999999;
    padding: 1em 0; 
}

.copyright {
    text-align: center;
}

