/*================================================================*/
/*  TABLE OF CONTENTS
    - COMMON STYLE
    - HEADER 
    - NAVIGATION BAR
    - POSTS
    - ABOUT
    - CLASSES
    - FOOTER 
    - MOBILE
/*
/*================================================================*/

/*-----------------------------------*/
/*         COMMON STYLE             */
/*---------------------------------*/

/* The border-box value (as opposed to the content-box default) makes the final rendered box the declared width, and any border and padding cut inside the box.  Read more here: http://www.paulirish.com/2012/box-sizing-border-box-ftw/; */
* {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
    background-color: #EBE8E4;
    color: #222;
    font-weight: 300;
    font-size: 15px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header, footer,section,nav {
    display:blocks;
}

.container {

    /* Specifying auto as the second parameter tells the browser to automatically determine the left and right margins itself, which it does by setting them equally. 'auto' guarantees that the left and right margins will be set to the same size. The first parameter 0 indicates that the top and bottom margins will both be set to 0. */
    margin:0 auto;
    /* read up on how to choose max/min-width here: http://stackoverflow.com/questions/10026751/recommended-widths-for-responsive-layouts */;
    max-width: 960px;
    font-family:sans-serif;
    margin-top:20px;
}

section.container {
    padding: 5px 0;
}

.content {
    background-color: white;
    display: inline-block;
    width: 70%;
    padding: 0 30px;
}

/* show a hand cursor when hovering over element */ 
a, h2 > a { 
    cursor: pointer; 
}

li > a, h2 > a {
    text-decoration: none;
    color: black;
}

/*-----------------------------------*/
/*            HEADER                */
/*---------------------------------*/

header {
    width: 100%;
    height: 150px;
    background-size: cover;
    text-align: center;
    background-image:url('../img/splashes.jpeg');
    color: black;
}

header:before, h1 {
    display: inline-block;
    vertical-align: middle;
}

header:before {
    content: ''; 
    display: inline-block; 
    width: 0; 
    height: 100%; 
    vertical-align: middle; 
    /* this just takes care of whitespace added by having display:inline-block (there are other methods) */ 
    margin-left: -0.25em; 
}

/* override default .container margin-top */ 
#blog-header {
    margin-top: 0;
}

/*header > h1 {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
}*/

header > h1 > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/*-----------------------------------*/
/*         NAVIGATION BAR           */
/*---------------------------------*/
#navbar {
    background-color: rgb(47, 47, 105);
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #888;
    display: block;
    margin-top: 0;
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    cursor: pointer;
    display: inline-block;
    list-style-type: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

nav > ul > li > a > .caret {
    border-top: 4px solid #aaa;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content:"";
    display: inline-block;
    height: 0;
    width: 0;
    vertical-align: middle;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    transition: color 0.1s linear;
}

nav > ul > li > a {
    color: white;
    font-weight: bold;
    display: block;
    line-height: 56px;
    padding: 0 24px;
    text-decoration: none;
}

nav > ul > li:hover {
    background-color: rgb(40, 44, 47);
}

nav > ul > li:hover > a {
    color: rgb(255, 255, 255);
}

nav > ul > li:hover > a > .caret {
    border-top-color: rgb(255, 255, 255);
}

nav > ul > li > div {
    background-color: rgb(40, 44, 47);
    border-top: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    display: none;
    margin: 0;
    opacity: 0;
    position: absolute;
    width: 165px;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}

nav > ul > li:hover > div {
    display: block;
    opacity: 1;
    visibility: visible;
}

nav > ul > li > div ul > li {
    display: block;
}

nav > ul > li > div ul > li > a {
    color: #fff;
    font-weight: bold;
    display: block;
    padding: 12px 24px;
}

nav > ul > li > div ul > li:hover > a {
    background-color: rgba(255, 255, 255, 0.1);
}

/*-----------------------------------*/
/*             POSTS                */
/*---------------------------------*/


#jquery-msg {
    display: none;
}

article > h2 {
    border-bottom: 1px dotted #999999; 
}

article p {
    display: none;
}

.preview {
    display: inline;
}

.read-more {
    font-weight: bold;
    cursor: hand;
    cursor: pointer;
}

h2 > a:hover {
    text-decoration: underline;
}

#jquery-msg:hover {
    text-decoration: underline;
    cursor: hand;
    cursor: pointer;
}

/*-----------------------------------*/
/*             ABOUT                */
/*---------------------------------*/

section#classes {
    display: none;
}

/*-----------------------------------*/
/*             CLASSES              */
/*---------------------------------*/

section#about {
    display: none;
}

/*-----------------------------------*/
/*             SIDEBAR              */
/*---------------------------------*/

#sidebar {
    width: 25%;
    display: inline-block;
    float: right;
    vertical-align: top;
    background-color: white;
    padding: 0 30px;
}

#sidebar > h4 {
    font-weight: bold;
}

#sidebar > ul {
    padding: 0;
}

#sidebar li {
    list-style-type: none;
}

#sidebar li > a:hover {
    color: blue;
}

/*-----------------------------------*/
/*              FOOTER              */
/*---------------------------------*/

#footer {
    margin-top: 0;   
    border-top: 1px dotted #999999;
    padding: 1em 0; 
}

.copyright {
    text-align: center;
}

/*-----------------------------------*/
/*              MOBILE              */
/*---------------------------------*/

/* "If [device width] is less than or equal to 768px, then do {...}" 
    useful article on media queries: http://unmatchedstyle.com/news/working-with-media-queries-and-min-width.php;
*/

@media (max-width: 768px) {

    /* keeps content accessible to screen readers */
    #sidebar {
       position: absolute !important;
       top: -9999px !important;
       left: -9999px !important;
    }

    section.container {
        padding: 5px 25px;
    }

    .content {
        width: 100%;
        margin: 0 auto;
    }
    
    body {
      font-size: 12px;
      line-height: 12px;
      margin: 0 auto;
    }
    h1 {
      font-size: 31px;
      line-height: 36px;
      margin-top: 24px;
      margin-bottom: 12px;
    }
    h2 {
      font-size: 23px;
      line-height: 24px;
      margin-top: 24px;
      margin-bottom: 12px;
    }
    h3 {
      font-size: 17px;
      line-height: 24px;
      margin-top: 12px;
      margin-bottom: 12px;
    }
    h4 {
      font-size: 12px;
      line-height: 12px;
      margin-top: 12px;
      margin-bottom: 12px;
    }
    p, ul, ol, pre, table, blockquote {
      margin-top: 12px;
      margin-bottom: 12px;
    }

    /* Sanitation */
    hr {
      border: 1px solid;
      margin: -1px 0;
    }
    ul ul, ol ol, ul ol, ol ul {
      margin-top: 0;
      margin-bottom: 0;
    }
    b, strong, em, small, code {
      line-height: 1;
    }
    sup, sub {
      vertical-align: baseline;
      position: relative;
      top: -0.4em;
    }
    sub {
      top: 0.4em;
    }
}
