/* should you use px, em, or rem?: http://stackoverflow.com/questions/11799236/should-i-use-px-or-rem-in-my-css 

use gridlover to choose relative font sizes: http://www.gridlover.net/app/;
*/

body {
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
}
h1 {
  font-size: 66px;
  line-height: 80px;
  margin-top: 40px;
  margin-bottom: 20px;
}
h2 {
  font-size: 41px;
  line-height: 60px;
  margin-top: 40px;
  margin-bottom: 20px;
}
h3 {
  font-size: 26px;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
h4 {
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Sanitation */
hr {
  border: 1px solid;
  margin: -1px 0;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}
